:root {
    --accent-color: #2196f3;
    --main-color-text: #212121;
    --secondary-color-text: #757575;
    --white-color-text: #ffffff;
    --background-color: #2f303a;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    background-color: #ffffff;
    color: var(--main-color-text);
    font-family: roboto, sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.link {
    text-decoration: none;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}


/* __________LOGO___________ */

.logo {
    margin-right: 93px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    letter-spacing: 0.03em;
    color: #000000;
}

.logo-color {
    color: var(--accent-color);
}

/* __________HEADER___________ */

.header {
    border-bottom: 1px solid #ececec;
}

.main-nav {
    display: flex;
    align-items: center;
}

.header-nav {
    margin-right: auto;
}

.header-nav-list {
    display: flex;
    gap: 50px;
}

.header-list {
    display: flex;
    gap: 50px;
}

.header-item {

    display: flex;
    align-items: center;
    color: var(--secondary-color-text);

}

.header-item-link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--main-color-text);
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-item-link:hover,
.header-item-link:focus {
    color: var(--accent-color);
}

.current {
    color: var(--accent-color);
}

.current::after {
    position: absolute;
    bottom: 0;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background: #2196F3;
    border-radius: 2px;
    opacity: 0;
    transform: scaleX(1.1);
}

.header-item-link.current::after {
    opacity: 1;
}


.header-icon {
    margin-right: 10px;
    fill: currentColor;
}

.header-list-link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--secondary-color-text);
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list-link:hover,
.header-list-link:focus {
    color: var(--accent-color);
}

/* __________HERO___________ */
.hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
    padding: 200px 0;
    max-width: 1600px;
    text-align: center;
    margin: 0 auto;
}


.hero-title {
    margin-top: 0;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    width: 696px;

    color: var(--white-color-text);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.btn {
    display: inline-block;
    border: none;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 216px;
    margin: 0 auto;

    font-family: 'Roboto';
    color: var(--white-color-text);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    cursor: pointer;

    transition-property: box-shadow, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus,
.btn:active {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: #188ce8;
}

/* __________FEATURES___________ */

.featers {
    padding-top: 94px;

}

.features-title {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.features-list {
    display: flex;
    gap: 30px;
}

.features-item::before {
    content: "";
    display: inline-block;
    background: #F5F4FA;
    border-radius: 4px;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-position: center;
}

.icon-antenna::before {
    background-image: url(../images/icons.svg/antenna.svg);
}

.icon-clock::before {
    background-image: url(../images/icons.svg/clock.svg);
}

.icon-diagram::before {
    background-image: url(../images/icons.svg/diagram.svg);
}

.icon-astronaut::before {
    background-image: url(../images/icons.svg/astronaut.svg);
}

.features-heading {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color-text);
}

.features-text {
    display: flex;
    flex-basis: calc((100% - 90px) / 4);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-color-text);
}

/* __________OCCUPATION___________ */

.occupation {
    padding: 94px 0;
}

.occupation-title {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color-text);
}

.occupation-list {
    display: flex;
    gap: 30px;
}

.occupation-item {
    position: relative;
    width: calc((100% - 60px) / 3);
}

.occupation-heading {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: 0;
    padding: 27px 0;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color-text);
    width: 100%;
    background-color: rgba(47, 48, 58, 0.8);
}

/* __________OUR TEAM___________ */

.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #f5f4fA;
}

.team-title {
    margin-bottom: 50px;
    text-align: center;

    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color-text);

}

.team-list {
    display: flex;
}

.team-social {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.team-list-item {
    width: 44px;
    height: 44px;

}


.team-link {
    background-color: #ffffff;
    border-radius: 50%;
    color: #afb1b8;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link:hover,
.team-link:focus {
    background-color: var(--accent-color);
    color: #ffffff;
}

.team-icon {
    fill: currentColor;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-item+.team-item {
    margin-left: 30px;

}

.team-card {
    padding: 30px 0;
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}


.team-heading {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color-text);
}

.team-text {
    margin-bottom: 16px;

    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    min-width: 130px;
    letter-spacing: 0.03em;
    color: var(--secondary-color-text);

}

/* __________CLIENT___________ */

.client {
    display: flex;
    padding: 94px 0;
}

.client-title {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color-text)
}

.client-list {
    display: flex;
    gap: 30px;
}

.client-item {}

.client-link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    color: #afb1b8;

    transition-property: color, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover,
.client-link:focus {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
}

.client-icon {
    fill: currentColor;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-item:hover .client-icon,
.client-item:focus .client-icon {
    fill: var(--accent-color);
}

/* __________FOOTER___________ */
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--background-color);
}

.footer-container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 70px;
}

.logo-color-footer {
    color: var(--white-color-text);
}

.address {}

.address-list {
    margin-top: 20px;
}


.address-item+.address-item {
    margin-top: 9px;
}

.address-item-link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-item-link:hover,
.address-item-link:focus {
    color: var(--white-color-text);
}

/* __________SOCIAL___________ */
.footer-soc {}

.footer-heading {
    display: block;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color-text)
}

.footer-soc-list {
    display: flex;
    gap: 10px;
}

.footer-soc-item {
    width: 44px;
    height: 44px;

}

.footer-soc-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-color-text);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;

    transition-property: background;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
    background: var(--accent-color);
}


.footer-soc-icon {
    fill: currentColor;
}

.footer-form {
    position: relative;
    display: flex;
    align-items: center;
    gap: 12px;
}

.footer-input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    padding: 15px;
    outline: none;
}

.footer-label {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    padding: 15px;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.footer-input:focus+.footer-label,
.footer-input:not(:placeholder-shown)+.footer-label {
    opacity: 0;
}

.btn-form {
    display: flex;
    align-items: center;
    gap: 10px;
    min-width: 200px;
}

.btn-form::after {
    content: "";
    display: block;
    background-image: url(../images/icons.svg/icon\ send.svg);
    width: 24px;
    height: 24px;
}

/* __________PORTFOLIO___________ */


.portfolio-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.portfolio-title {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* __________FILTERS___________ */


.filters {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 34px;
}


.filters-item {}

.btn-filters {
    display: inline-block;
    border-radius: 4px;
    border: none;
    padding: 6px 22px;
    min-width: 73px;


    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color-text);
    background: #f5f4fa;

    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-filters:hover,
.btn-filters:focus,
.btn-filters:active {
    background: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: var(--white-color-text);
    cursor: pointer;
}

/* __________PORTFOLIO-CONTENT___________ */

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

}

.portfolio-item {
    width: calc((100% - 60px) / 3);

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


}

.portfolio-item:hover,
.portfolio-item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-link {}

.portfolio-wrap {
    position: relative;
    overflow: hidden;
}

.portfolio-link-text {
    position: absolute;
    top: 0;
    padding: 63px 24px;
    height: 100%;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--white-color-text);
    background: rgba(33, 150, 243, 0.9);

    transform: translateY(101%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    overflow: auto;
}

.portfolio-item:hover .portfolio-link-text {
    transform: translateY(0);

}

.portfolio-card {
    padding: 20px 24px;
    background: #ffffff;
    border: 1px solid #eeeeee;
    border-top: 0;
}

.portfolio-heading {
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
    color: var(--main-color-text);
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--secondary-color-text);
}

/*________________________________ MODAL _____________________________*/

.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1), visibility 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    width: 528px;
    min-height: 581px;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleY(1) rotate(0deg);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scaleY(0) rotate(-15deg)
}

.modal-close {
    position: absolute;
    top: 8px;
    right: 8px;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    color: #000000;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
    fill: currentColor;
}

.modal-close .modal-icon:hover {
    fill: var(--accent-color);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-heading {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: calc(23 / 20);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color-text);
}

.modal-wrap {
    margin-bottom: 10px;
}


.modal-label {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: var(--secondary-color-text);
}

.modal-input {
    padding-left: 42px;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border: 1px solid var(--accent-color);
}

.modal-comment {
    margin-bottom: 20px;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    font-weight: 400;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    outline: none;
}

.modal-comment::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.modal-name {
    position: relative;
    color: #212121;
}

.modal-icon-input {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translate(-50% -50%);
    fill: currentColor;
}

.modal-input:focus+.modal-icon-input {
    fill: var(--accent-color);
}

.modal-checkbox {
    margin-bottom: 30px;
}

.modal-button {
    display: flex;
}

.modal-btn {
    max-width: 200px;
    padding: 10px 52px;
}